<a href="https://colab.research.google.com/github/RohanDubeySF/random/blob/main/maps/Category/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day27-one-hot-encoding/cars.csv')
data.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [ ]:
data['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Force               6
Land                6
Isuzu               5
Kia                 4
Ambassador          4
Daewoo              3
MG                  3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

In [ ]:
data['fuel'].value_counts()

fuel
Diesel    4402
Petrol    3631
CNG         57
LPG         38
Name: count, dtype: int64

In [ ]:
data["owner"].value_counts()

owner
First Owner             5289
Second Owner            2105
Third Owner              555
Fourth & Above Owner     174
Test Drive Car             5
Name: count, dtype: int64

#1. Encoding using Pandas

In [ ]:
ddd=pd.get_dummies(data,columns=['fuel','owner'])
ddd

,brand,km_driven,selling_price,fuel_CNG,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,False,True,False,False,True,False,False,False,False
1,Skoda,120000,370000,False,True,False,False,False,False,True,False,False
2,Honda,140000,158000,False,False,False,True,False,False,False,False,True
3,Hyundai,127000,225000,False,True,False,False,True,False,False,False,False
4,Maruti,120000,130000,False,False,False,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,False,False,False,True,True,False,False,False,False
8124,Hyundai,119000,135000,False,True,False,False,False,True,False,False,False
8125,Maruti,120000,382000,False,True,False,False,True,False,False,False,False
8126,Tata,25000,290000,False,True,False,False,True,False,False,False,False
8127,Tata,25000,290000,False,True,False,False,True,False,False,False,False

#2. K-1 Encoding (Removing 1 column)

In [ ]:
pd.get_dummies(data,columns=['fuel','owner'],drop_first=True).replace({True:1,False:0})

<ipython-input-24-acbf3b39ad9e>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pd.get_dummies(data,columns=['fuel','owner'],drop_first=True).replace({True:1,False:0})

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

#3. Using Sklearn

In [ ]:
from sklearn.preprocessing import OneHotEncoder
Ohe=OneHotEncoder(drop='first',sparse_output=False)

In [ ]:
  data.iloc[:,:4]

        brand  km_driven    fuel                 owner
0      Maruti     145500  Diesel           First Owner
1       Skoda     120000  Diesel          Second Owner
2       Honda     140000  Petrol           Third Owner
3     Hyundai     127000  Diesel           First Owner
4      Maruti     120000  Petrol           First Owner
...       ...        ...     ...                   ...
8123  Hyundai     110000  Petrol           First Owner
8124  Hyundai     119000  Diesel  Fourth & Above Owner
8125   Maruti     120000  Diesel           First Owner
8126     Tata      25000  Diesel           First Owner
8127     Tata      25000  Diesel           First Owner

[8128 rows x 4 columns]

In [ ]:
gc=Ohe.fit_transform(data[['fuel','owner']])

#Count or frequency Encoding

In [ ]:
 df=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',usecols=[' State-gov',' Bachelors',  ' Never-married',' Adm-clerical', ' Not-in-family', ' White', ' Male', ' United-States'])
df.head()

,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [ ]:
df.columns=['Employment','Degree','Status','Designation','Family_job','Race','Sex','Country']
df.head()

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States

In [ ]:
df.Country.value_counts()

Country
United-States                 29169
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [ ]:
df.Country.nunique() #counts number of unique values in a column

42

In [ ]:
df.Country.replace(df.Country.value_counts(),inplace=True)

<ipython-input-11-e2ca93b4ee91>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Country.replace(df.Country.value_counts(),inplace=True)
<ipython-input-11-e2ca93b4ee91>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.Country.replace(df.Country.value_counts(),inplace=True)

In [ ]:
df.Country=df.Country.map(df.Country.value_counts())

In [ ]:
df.Country.nunique() , df.Country.value_counts()

(38,
 Country
 29169    29169
 643        643
 583        583
 198        198
 137        137
 121        121
 114        114
 106        106
 100        100
 95          95
 90          90
 81          81
 80          80
 75          75
 73          73
 70          70
 67          67
 64          64
 62          62
 60          60
 59          59
 58          58
 51          51
 44          44
 43          43
 38          38
 37          37
 36          36
 34          34
 31          31
 28          28
 26          26
 24          24
 20          20
 16          16
 14          14
 12          12
 1            1
 Name: count, dtype: int64)

In [ ]:
  df

,Employment,Degree,Status,Designation,Family_job,Race,Sex,Country
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29169
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29169
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29169
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,29169
...,...,...,...,...,...,...,...,...
32555,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,29169
32556,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,29169
32557,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,29169
32558,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,29169
32559,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,29169